/* Tags: line 8 ;
   Classes: line 46;
   Ids: line 100;
   Complexs: line 102;
   Media Queries: line 137;	
*/
/* Tags */
a{
	color: black;
	text-decoration: none;
	top: 20px;
}
a:visited{
	color: black;
	text-decoration: none;
}
aside{
	font-family: 'Oswald', sans-serif;
	height: 100%;
	width: 30%;
	position: fixed;
	background-color: #A9CBD9;
	left: 0px;
	box-shadow: 8px 0 12px -3px rgba(0, 0, 0, 0.3)	
}
body{
	background-image: url(../images/bg.png);
}
footer{
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	width: 30%;
	height: 40px;
	position: fixed;
	bottom: 0;
}
h1{
	font-weight: 700;
	font-size: 29px;
}
main{
	font-family: 'Josefin Sans', sans-serif;
	padding: 80px;	
	padding-left: 35%;
}
/* classes */
.copyright{
	margin-right: 5px;
}
.flex-base{
	display: flex;
	flex-direction: row;
	justify-content: space-around; 
}
.flex-base2{
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}
.flex-center{
	align-items: center;
}
.flex-row{
	flex-direction: row;
}
.flex-row-invert{
	flex-direction: row-reverse;
}
.flex-start{
	align-items: flex-start;
}
.full-height{
	height: 100%;
}
.full-width{
	width: 100%;
}
.gatekeeper:hover{
	cursor: url(../images/mouses/scroll.png), pointer);
}
.hidden{
	display: none;
}
.navi{
	height: 70%;
	font-size: 19px;
}
.no-dot{
	list-style: none;	
}
.no-padding-margin{
	padding: 0px;
	margin: 0px;
}
.p-base{
	text-align: justify;
	padding: 10px;
}
.top-mnu{
	margin-top: 30px;
	margin-bottom: 30px;
}
/* ids */

/* complex classes */

.footer-button>li>a{
	color: black;
	text-decoration: none;
	text-transform: none;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-button>li>a:hover{
	cursor: pointer;
}
footer>ul>li>p{
	margin: 15px;
}
footer>ul>li>p>a{
	margin: 5px;
}
.menu-buttons>li>a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}
.menu-buttons>li>a:hover{
	cursor: pointer;
}

.menu-buttons>li>a, .footer-button>li>a{
	padding-left: 10px;
	padding-right: 10px;
}
.top{

}
/* Media queries */
@media screen and (max-width: 600px){
	aside.flex-base2{
		height: 10%;
		width: 100%;
		flex-direction: row;
		justify-content: space-around;	
	}
	footer{
		height: 10%;
		width: 100%
	}
	main{
		padding: 0%;
		padding-top: 30%;
		padding-left: 2%;
		padding-right: 2%;	
	}
	nav>.flex-base2{
		flex-direction: row;
	}
}
